body{
 
  box-sizing: border-box;
  align-items: center;
  display: flex;
}
div
{
  margin:0;
  padding:0;
  text-align:center;
  background-color: aqua;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  width:100%;
  height:100vh;
}